.form-allowed-tags { display: none; }
.wp-editor-wrap {
    border: 1px solid #eee;
    margin-bottom: 1.25em;
}

.mce-tinymce.mce-container.mce-panel {
  border: 1px solid #eaeaea;
}

.wpecp-delete,
.wpecp-edit {
  display: inline-block;
}

.wpecp-delete-comment,
.wpecp-edit-comment {
    margin-right: 1em;
}

.wpecp-cancel-edit {
    margin-left: 1em;
}

.wpecp-submit-edit,
.wpecp-cancel-edit,
.wpecp-edit-comment {
    position: relative;
}

.wpecp-edit-container {
  margin: 5px 0 1rem;

  .spinner {
    display: none;
    position: relative;
    top: 3px;
    margin: 0 5px;
    width: 16px;
    height: 16px;
  }
}

.wpecp-delete-container {
  margin: 5px 0 1rem;

  .spinner {
    display: none;
    position: relative;
    top: 3px;
    left: -6px;
    margin: 0 5px;
    width: 16px;
    height: 16px;
  }
}
